body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.barchart {
  margin-top: 45px;
}
.bar--positive {
  fill: #ad1457;
}

.bar--negative {
  fill: #0d47a1 ;
}
