html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #fff;
}

main {
  flex: 1 0 auto;
  background-image: url('images/library.png');
  /*background-size: cover;*/
}
.header {
  background-image: url('images/raven2.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 150px;

}
.blackboard {
  background-image: url('images/blackboard.png');
  background-size: cover;
  border-bottom: 20px #2196f3 solid;

}
.top-section {
  margin-bottom: 150px;
}
.outer-wrapper {
  /*background-color: rgba(0, 0, 0, .5);*/
}
.parallax-container {
  height:600px;
}
.charts {
  margin-top: 35px;
}
h5 {
  color: rgba(189, 193, 194, 0.73);
}
.wrapper {
  background-color: rgba(28,27,32, .8);
}
.inner-wrapper {
  width: 95%;
  margin: auto;

}

.alice {
  /*background-image: url('wizardoz.jpeg')*/
}

/*.barchart, .barchart4 {
  margin-top: 45px;
}*/
.barchart2, .barchart3, .barchart5, .barchart6 {
  margin-bottom: 45px;
}
.barcharts {
  background-color: rgba(255, 255, 255, 0.5);
}
h1 {
  font-family: 'Shadows Into Light', cursive;
  color: #fff;
  color: #2196f3;
}
h4 {
  color: #fff;

}

.bar--positive {
  fill: #0d47a1 ;
  fill: #fff;
  fill: #2196f3;
}

.bar--negative {
  fill: #ad1457;
  fill: #fff;
}
.hovered{
  fill: #e91e63;
  cursor: pointer;
}
.scrolling {
  height: 500px;
  width: 30%;
  overflow: scroll;
  background-color: #222;
  border-radius: 4px;
  margin-top: 75px;
  box-shadow: 5px 5px 5px rgba(161, 159, 164, 0.5);
}
::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

#text, #text2, #text3 {
  width: 100%;
  color: white;
}

.top-section {
  height: 300px;
  /*background-color: #ad1457;*/
}
.section-number {
  border-bottom: 1px #000 solid;
  font-size: 1.2rem;
}

.pre-footer {
  background-image: url('images/blackboard.png');
  /*background-repeat: no-repeat;
  width: 100%;*/
  backgroun-size: cover;
  height: 130px;
  box-shadow: -.5em 0 0.5em rgba(73, 76, 78, 0.87);
}
footer {
  background-color: #2196f3;
  height: 20px;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
